@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  margin:0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}
/* Barre de navigation */
nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #82c46c;
  position: sticky;
  top: 0;
}
nav h1{
  font-size: 20px;
  color: #fff;
}
nav .onglets{
  display: flex;
  flex-wrap:wrap;
  color: #fff;
}
nav .onglets p{
  font-size: 17px;
  margin-right: 10px;
  cursor:pointer;
}
nav .onglets input{
  margin: 15px 10px;
  padding: 15px;
  border-radius: 30px;
  border:none;
  background-color: #f2f2f2;
  outline:none;
}

button {
  height: 45px;
  width: 200px;
  border-radius: 30px;
  border: 2px solid #f2f2f2;
  cursor: pointer;
  background-color: #ffffff;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}

button:hover {
  background-color: #82c46c;
  color: white;
}
/* Fin de la barre de navigation */